<div class="container">
    <div class="sidenav">
        <ul>
            <li routerLink="directives-pipes" routerLinkActive="linkActive">Directives, Pipes</li>
            <li routerLink="communication" routerLinkActive="linkActive">Communication</li>
            <li routerLink="route-params" routerLinkActive="linkActive">Route Params</li>
            <li routerLink="custom-library" routerLinkActive="linkActive">Custom Library</li>
            <li routerLink="lifecycle-hooks" routerLinkActive="linkActive">Lifecycle Hooks</li>
            <li routerLink="http" routerLinkActive="linkActive">Http</li>
            <li routerLink="test" routerLinkActive="linkActive">Test</li>
            <li routerLink="javascript" routerLinkActive="linkActive">Javascript</li>
            <li routerLink="callbacks" routerLinkActive="linkActive">Callbacks</li>
            <li routerLink="unit-tests" routerLinkActive="linkActive">Unit Tests</li>
        </ul>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>