<mat-toolbar class="navbar">
  <a matRipple class="home" routerLink="home" routerLinkActive="linkActive">
    <mat-icon color="primary" matRipple>home</mat-icon><span>Material</span>
  </a>
<div class="links">
  <a routerLink="features" routerLinkActive="linkActive">Features</a>
  <a routerLink="guards" routerLinkActive="linkActive">Guards</a>
  <a routerLink="forms" routerLinkActive="linkActive">Forms</a>
  <a routerLink="rxjs" routerLinkActive="linkActive">RxJS</a>
</div>
</mat-toolbar>

<div class="container" *ngIf="loaded; else spinner">

  <router-outlet></router-outlet>
  <div class="loader" *ngIf="displayLoadingIndicator">Loading...</div>

</div>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>