<app-navbar></app-navbar>

<div class="container" *ngIf="loaded; else spinner">
  
  <div class="child sidenav">

    <div class="sidenavItem">
      <mat-checkbox class="checkbox" [(ngModel)]="checked">
        Smaller card height
      </mat-checkbox>
    </div>

    <div class="sidenavItem">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="dateChanged($event)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="sidenavItem">
      <h2>Today's date: {{ theDate }}</h2>
    </div>
  </div>

  <div class="child cards">
    <mat-card class="exampleCard" *ngFor="let perfume of perfumes" (click)="openDialog()">
      <mat-card-header class="cardHeader">
        <mat-card-subtitle>{{perfume.brand}}</mat-card-subtitle>
        <mat-card-title>{{perfume.name}}</mat-card-title>
      </mat-card-header>
      <div class="imgDiv">
        <img mat-card-image [src]="perfume.imgSrc" alt="Phtaloblue">
      </div>
      <mat-card-content class="cardContent" [ngClass]="{'checkboxOverflowClass': checked, 'cardContentHeight': !checked}">
        <p [innerHTML]="perfume.description"></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>