.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidenavItem {
        margin: 10px 0px;
        width: 94%;
        padding: 4px;

        .checkbox {
            margin: 0 10px;
            zoom: 1.2;
            font-weight: bold;
        }

        .mat-slide-toggle {
            padding-left: 10px;
        }
    }
}

.mat-expansion-panel-spacing {
    margin: 0;
}

mat-slider {
    width: 220px;
  }

.grayedText {
    color: gray;
}