<div appBasicBorder>
    <p>Observables example log</p>
    <p>ObservablePhase value: {{ obsValue }}</p>
</div>

<div appBasicBorder>
    <h2>forkJoin (load data when all observables are ready)</h2>
    <div class="widgets">
        <div class="widget">
            <h3>Schools: {{ schoolsCount }}</h3>
            <div *ngIf="schoolsLoading">Loading...</div>
        </div>
        <div class="widget">
            <h3>Hospitals: {{ hospitalsCount }}</h3>
            <div *ngIf="hospitalsLoading">Loading...</div>
        </div>
        <div class="widget">
            <h3>Banks: {{ banksCount }}</h3>
            <div *ngIf="banksLoading">Loading...</div>
        </div>
    </div>
</div>

<div appBasicBorder>
    <h2>MergeMap vs SwitchMap operators</h2>
    <input [formControl]="searchControl" placeholder="Search...">
    <div *ngFor="let fruit of fruits">{{ fruit }}</div>
</div>

<div appBasicBorder>
    <h2>Async pipe (instead of subscribe to Observable in .ts)</h2>
    <div class="buttons">
        <button (click)="getCountries()">Get Countries</button>
        <button (click)="getStatus()">Get Status</button>
    </div>
    <div class="sections">
        <div *ngIf="section === 'country'">
            <!-- <div *ngFor="let country of countries">{{ country }}</div> -->
            <div *ngFor="let country of countriesObs$ | async">{{ country }}</div>
        </div>
        <div *ngIf="section === 'status'">
            <!-- <span *ngIf="status">Online</span> -->
            <!-- <span *ngIf="!status">Offline</span> -->
            <span *ngIf="statusPromise$ | async">Online</span>
            <span *ngIf="!(statusPromise$ | async)">Offline</span>
        </div>
    </div>
</div>

<div appBasicBorder>
    <h2>Promise vs Observable</h2>
</div>

<div appBasicBorder>
    <h2>Complete simple Observables example</h2>
</div>